<footer class="islamic-footer">
    <div class="container">
        <div class="row justify-content-between">
            <!-- about widget -->
            <div class="col-md-5 col-lg-4 footer-widget footer-widget--about">
                <div class="row justify-content-md-center">
                    <div class="col-lg-auto">
                        <img src="assets/img/footer-logo-1.png" alt="">
                    </div>
                    <div class="col-lg-8 footer-about__content">
                        <h3 class="footer-about__title">{{ "Why are we better" | translate }}</h3>
                        <p class="footer-about__text">{{ "footer about text" | translate }}</p>
                    </div>
                </div>
            </div>
            <!-- menu, subscribe, share widget -->
            <div class="col-md-5 col-lg-4">
                <nav class="footer-menu footer-widget">
                    <ul class="footer-menu__list">
                        <li class="footer-menu__item">
                            <a href="#">{{ "Home" | translate }}</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#">{{ "About us" | translate }}</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#">{{ "News" | translate }}</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#">{{ "Contact us" | translate }}</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-subscribe footer-widget">
                    <h3 class="footer-subscribe__title"><i class="icon-mail"></i>{{ "footer subscribe title" | translate }}</h3>
                    <div class="footer-subscribe__field">
                        <input type="text" class="footer-subscribe__input" placeholder="{{ 'Enter your email' | translate }}">
                        <input type="submit" class="footer-subscribe__button" value="{{ 'Subscribe' | translate }}">
                    </div>
                </div>
                <div class="footer-social-icons footer-widget">
                    <a href="#" target="_blank" class="footer-social-icons__icon">
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" target="_blank" class="footer-social-icons__icon">
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#" target="_blank" class="footer-social-icons__icon">
                        <i class="icon-instagram"></i>
                    </a>
                    <a href="#" target="_blank" class="footer-social-icons__icon">
                        <i class="icon-youtube"></i>
                    </a>
                    <a href="#" target="_blank" class="footer-social-icons__icon">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyrights">
            <p>
                {{ "copyrights" | translate }}
            </p>
            <p>
                {{ "developed by" | translate }}
            </p>
        </div>
    </div>
</footer>
