@import '../../_variables.scss';

.breadcrumb {
    padding: 15px 0 0 ;
    margin: 0;
    background: transparent;
    
    &__title {
        font-size: 14px;
        color: $secondary-color;
        
    }
    &__active-page {
        color: black;
    }
}
