@import '../../../_variables.scss';

.new-post {
    &__media {
        img {
            max-width: 100%;
        }
        @media(max-width: $screen-sm-max) {
            margin-bottom: 15px;
        }
    }
    &__content {
        
    }
    &__category {
        display: inline-block;
        color: white;
        font-size: 10px;
        background: $primary-color;
        border-radius: 10px;
        padding: 0 6px;
    }
    &__title {
        color: $secondary-color;
        font-size: 14px;
        margin-bottom: 0px;
    }
}
